@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="chat_header flex flex_align_center">
    <div class="chat_admin tc">
        <icon class="iconfont icon-kefunv"></icon>
    </div>
    <div class="flex_item colfff">
        <p class="f14">客服</p>
        <p class="f12">在线客服</p>
    </div>
</header>
<main class="chat_main" data-bind="foreach:chatList,style:{bottom:isShowModelUp()?'223px':'50px'}">
    <!--ko if:time-->
    <div class='flex tc mt20'>
        <span class='chat_time' data-bind="text:time"></span>
    </div>
    <!--/ko-->
    <!-- <div class="flex mt20 " data-bind="css:{isAdmin?'chat_list_user':'flex_justify_end'}">  -->
    <div class="flex mt20" data-bind="css:{'chat_list_user':!isAdmin,'flex_justify_end':isAdmin}">
        <!--我发出的内容-->
        <!--ko if:!isAdmin-->
        <img class='chat_img' data-bind="attr:{src:userImage} " />
        <!--/ko-->
        <div class='chat_list_box pr'>
            <span data-bind="html:text.content"> </span>
            <!--ko if:image.url-->
            <img mode='widthFix' style='max-width:100%;' data-bind="attr:{src:image.url}" data-bind="click:previewImage" />
            <!--/ko-->
            <icon class="iconfont pa" data-bind="css:{'icon-sanjiaoxing-right':isAdmin,'icon-sanjiaoxing-left':!isAdmin}"></icon>
        </div>
        <!--对方发出的内容-->
        <!--ko if:isAdmin-->
        <img class='chat_img' data-bind="attr:{src:userImage} " />
        <!--/ko-->
    </div>
</main>
<footer class="chat_bottom_box">
    <div class='flex'>
        <icon class="iconfont " data-bind="css:{'icon-luyin':!isAudio(),'icon-jianpan':isAudio()},click:btnRecord"></icon>
        <input class='flex_item chat_bottom_text_input' data-bind="visible:!isAudio(),value:chatInputValue,event:{keypress:sendMessage(event)}" />
        <!-- <div class='luyin flex_item' data-bind="visible:isAudio,text:audioText" bindtouchstart='startRecord' bindtouchend='stopRecord'></div>  -->
        <div class='luyin flex_item' data-bind="visible:isAudio(),text:audioText"></div>
        <icon class='iconfont icon-xiaolian' hidden='true'></icon>
        <icon class='iconfont icon-tianjia' data-bind="click:showModelUp"></icon>
    </div>
    <!--点击加号弹出来其他输入类型-->
    <div data-bind="visible:isShowModelUp()">
        <div class='chat_bottom_add flex flex_wrap'>
            <div class=' tc'>
                <div class='chat_bottom_add_li pr'>
                    <icon class='iconfont icon-tupian'></icon>
                    <input type="file" class="chat_upload_img_input pa" multiple data-bind="event:{change:chooseImage(event)}" />
                </div>
                <span class='f16 col999'>照片</span>
            </div>
            <div class="tc">
                <form action="/upload/file" method="post">
                    <input type="hidden" name="path" value="chat" />
                    <div class='chat_bottom_add_li pr'>
                        <icon class='iconfont icon-fujian'></icon>
                        <input type="file" name="file" class="chat_upload_img_input pa" multiple data-bind="event:{change:chooseFile}" />
                    </div>
                    <span class='f16 col999'>附件</span>
                </form>
            </div>
            <!-- <div class='tc'>
                <div class='chat_bottom_add_li' data-bind="click:camera">
                <icon class='iconfont icon-paishe'></icon>
                </div>
                <span class='f16 col999'>拍摄</span>
            </div> -->
            <div class='tc'>
                <div class='chat_bottom_add_li' bindtap='getlocat'>
                    <icon class='iconfont icon-weizhi'></icon>
                </div>
                <span class='f16 col999'>位置</span>
            </div>
        </div>
        <!--取消按钮/关闭弹窗-->
        <div class='f18 col999 btn_close_model' data-bind="click:closeModelUp">取消</div>
    </div>
</footer>
<div class="modal" id="modal_login" style="display:none;">
    <div class="modal_bg"></div>
    <div class="modal_con">
        <h1 class="modal_con_title">登录聊天室</h1>
        <label for="inputEmail" class="modal_con_label">用户名</label>
        <input type="text" id="txtUserName" class="modal_input" placeholder="用户名" required autofocus>
        <p class="modal_red" id="modal_red" style="display:none">请输入您的用户名</p>
        <button id="btnLogin" class="modal_btn">登录</button>
        <p class="modal_note">&copy; ERP 2018-8-31 </p>
    </div>
</div>
@section script
    {
    <script src="~/js/biz/chat.js"></script>
}