*{margin:0; padding:0}
input{ outline: none;}
.flex {  display: flex; }
.flex_item { flex: 1;}
.flex_item_3{ flex:0 0 33%;}
.flex_wrap{ flex-wrap: wrap; }   /* flex可换行——容器*/
.flex_align_center{  align-items:center; } /*垂直居中——容器*/
.flex_justify_end{ justify-content:flex-end; }  /* 水平右对齐——容器 */
.flex_justify_center{ justify-content: center; } /*水平中对齐——容器*/
.flex_item_align_center{ align-self:center; }/*垂直中对齐——项目*/
.flex_item_flex_basis{ flex-basis:.1rem; }
.colfff{ color: #fff;}
.colccc{ color: #ccc;}
.col999{ color: #999;}
.colred{ color: red;}
.colblue{ color: #33ccff}
.f10{ font-size: 10px;}
.f12{ font-size: 12px;}
.f14{ font-size: 14px;}
.f16{ font-size: 16px;}
.f18{ font-size: 18px;}
.f24{ font-size: 24px;}
.ml10{ margin-left: 10px;}
.mt10{ margin-top: 10px;}
.mt20{ margin-top:20px;}
.mt30{ margin-top: 30px;}
.mt05{ margin-top: 5px;}
.p10{ padding:0 10px;}
.db{ display: block;}
.tc{ text-align: center;}
.tr{ text-align: right;}
.pr{ position: relative;}
.pa{ position: absolute;}